/* Variables */
/*!Variables de color*/
$color-primario: #00b991;
$color-secundario: #67bdb6;
$color-fondo: #f5f5f5;
/*!Variable de dimension del contenedor*/
$ancho-contenedor: 800px;

/* Estilos generales */
body {
  background-color: $color-fondo;
  font-family: Arial, sans-serif;
}

/*!Estructura de anidamiento: header, nav, ul, li, a*/
header {
  background-color: $color-primario;
  color: white;
  padding: 20px;
  
  h1 {
    font-size: 36px;
    margin: 0;
  }
  
  
  nav {
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      
      li {
        display: inline-block;
        margin-right: 20px;
        
        a {
          color: white;
          text-decoration: none;
          
          &:hover {
            color: $color-secundario;
          }
        }
      }
    }
  }
}

main {
  max-width: $ancho-contenedor;
  margin: 0 auto;
  padding: 20px;
  
  section {
    margin-bottom: 40px;
    
    h2 {
      color: $color-primario;
      margin-top: 0;
    }
    
    ul {
      list-style: none;
      margin: 0;
      padding: 0;
      
      li {
        margin-bottom: 20px;
        
        h3 {
          margin: 0;
        }
        
        p {
          margin: 0;
          
          &:last-child {
            color: $color-secundario;
          }
        }
        
        ul {
          margin-top: 10px;
          margin-bottom: 0;
          padding-left: 20px;
          
          li {
            margin-bottom: 5px;
          }
        }
      }
    }
  }
}

section#sobre-mi {
  p {
    font-size: 18px;
    line-height: 1.5;
  }
}

section#habilidades {
  ul {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    
    li {
      width: calc(50% - 10px);
      background-color: $color-primario;
      color: white;
      padding: 10px;
      margin-bottom: 10px;
      text-align: center;
      
      &:nth-child(odd) {
        margin-right: 20px;
      }
    }
  }
}






