/// Este archivo define dos mixins útiles para aplicar estilos de reset y centrado.

/// Mixin reset
///
/// Este mixin establece los márgenes a 0 y aplica el mismo estilo a todos los títulos h1 a h6.
///
/// Ejemplo de uso:
/// /// .mi-clase { /// @include reset; /// } ///
@mixin reset {
  margin: 0;
  
  h1, h2, h3, h4, h5, h6 {
  margin: 0;
  }
  }
  
  /// Mixin centrado
  ///
  /// Este mixin establece el margen superior, el margen inferior y el ancho de un elemento, y lo centra horizontalmente.
  ///
  /// Parámetros:
  /// - $margen-sup: El margen superior.
  /// - $margen-inf: El margen inferior.
  /// - $tam: El ancho del elemento.
  ///
  /// Ejemplo de uso:
  /// /// .mi-clase { /// @include centrado(10px, 20px, 50%); /// } ///
  @mixin centrado($margen-sup, $margen-inf, $tam) {
  margin-top: $margen-sup;
  margin-bottom: $margen-inf;
  width: $tam;
  margin-left: auto;
  margin-right: auto;
  }
  
  
  